

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Inter&family=Poppins:ital,wght@0,400;0,600;1,300&family=Roboto+Condensed:ital@1&family=Roboto+Slab:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
    color: black;
    font-weight: bold;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4{
    font-size: 20px;
    color: black;
}

h6{
    font-size: 15px;
    color: black;
}

p{
    font-size: 16px;
    font-weight: 700;
    color: #343535;
    margin:15px 0 20px 0;
}

.section-p1{
    padding:40px 80px;
}

.section-m1{
    margin:40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #141717;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #481d1d;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #482020;
    outline: none;
    transition: 0.2s;
}
body{
    width: 100%;
}


/* header */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    background-color: #e0ddc4fe;
    box-shadow: 0 5px 15px rgba(203, 171, 198, 0.06);
    z-index:999;
    position: sticky;
    top: 0;
    left: 0;
}
.logo{
    height:60px;
    width:60px;
}
.cart{
    height:30px;
    width:30px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style-type:none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:purple;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width:30%;
    height:2px;
    background-color: purple;
    position:absolute;
    bottom:-4px;
    left:20px;
}
#mobile{
    display: none;
    align-items: none;
}
#close{
    display: none;
}

/* home page */
#home{
    background-image: url("images/home1.jpg");
    height:90vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right 10%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#home h4{
    padding-bottom: 15px;
}
#home h1{
    color:purple;
}
#home p span{
    color:purple;
}
#home button{
    background-color: purple;
    border: 0;
    height: 30px;
    width: 90px;
    border-radius: 55px;
    color: aliceblue;
    font-weight: 600;
    box-shadow: 0 8px 16px 0 rgba(109, 1, 87, 0.659), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
/* features */
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0,0,0,0.03);
    border:1px solid #e0d1e2;
    border-radius: 7px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px #e0ddc4fe;;
}

.fe-img{
    height:120px;
    width:100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display:inline-block ;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(32, 71, 44);
    background-color: #ffb9c8;
    font-weight: bold;
}

#product{
    text-align: center;
    padding-top: 10px;
}
#product .pro-cont{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product .pro{
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #e0ddc4fe;;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px #e0ddc4fe;;
    margin:10px;
    transition: 0.2s ease;
    position: relative;
    
}
#product .pro:hover{
    box-shadow:20px 20px 30px #e0ddc4fe;;
}

#product .pro img{
    width:100%;
    border-radius: 20px;
}
#product .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product .pro .des span{
    color:#a69c9f;
    font-size: 12px;
}
#product .pro .des h5{
    padding-top: 7px;
    color: #141717;
    font-size: 14px;
}
#product .pro .des i{
    font-size: 12px;
    color:rgb(228, 193, 17);
}
#product .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: purple;
}
#product .pro .cart{
    color: purple;
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: rgb(241, 215, 241);
    height:20px;
    width: 40px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/banner.png");
    width:100%;
    height:40vh;
    background-position: center;
    background-size: cover;
    
}
#banner h4{
    color: aliceblue;
    font-size: 16px;
}
#banner h2{
    color: aliceblue;
    font-size: 30px;
    padding:10px 0;
}
#banner h2 span{
    color: rgb(80, 14, 85);
}
#banner button:hover{
    background-color: purple;
    color: #fff;
}
#sm-banner{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-image: url("images/banner1.png");
    min-width:600px;
    height:50vh;
    background-position: center;
    background-size: cover;
    padding: 30px;
    margin-bottom: 10px;
}
#sm-banner .banner-box-2{
    background-image: url("images/banner2.png");
    align-items:flex-end;
}
#sm-banner h4{
    color: #471c1c;
    font-size: 20px;
    font-weight: 200;
}
#sm-banner h2{
    color: #471c1c;
    font-size: 30px;
    font-weight: 800;
}
#sm-banner span{
    color: #471c1c;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background-color: #602127;
    border:1px solid #40171f ;
    color: #fff;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-image: url("images/banner3.png");
    min-width:30%;
    height:30vh;
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 h2{
    font-weight:bold;
    font-size: 22px;
    color:rgb(85, 26, 52);
}
#banner3 h3{
    color:#2a5a25;
    font-weight: bold;
    font-size: 19px;
}
#banner3 .box2{
    background-image: url("images/banner4.png");
}
#banner3 .box3{
    background-image: url("images/banner6.png");
}
#news{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("images/banner7.png");
}
#news h4{
    font-size: 22px;
    font-weight: 700;
    color: #350404;
}
#news p{
    font-size: 14px;
    font-weight: 600;
    color: #350404;
}
#news p span{
    font-size: 14px;
    font-weight: bold;
    color:purple;
}
#news .form{
    display: flex;
    width: 40%;
}
#news input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width:100%;
    border:1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#news button{
    background-color: #350404;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pp{
    color:rgb(146, 140, 146);
}

.icon{
    margin-top: 10px;
}
.app{
    height:60px;
    width:180px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;

}
footer h4{
    font-size: 14px;
    padding-bottom:20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #141717;
    margin-bottom: 0px;
}

footer .follow{
  margin-top: 20px;
}

.icon{
    color: #86777b;
    padding-right: 4px;
    cursor: pointer;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #5e0505;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
.app{
    width:90px;
}
.pays{
    width:180px;
    height:90px;
}

/*shop-Page*/
#page-header{
    background-image: url("images/shop/banner.png");
    width:100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2,
#page-header p{
    color:rgb(1, 52, 1);
}
#page-header p span{
    color: purple;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: purple;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
}

/*single product*/
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-img{
    width:35%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px ;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;  
}
#prodetails .single-pro-details input{
    width:50px;
    height:47px;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 10px;
}
#prodetails .single-pro-details button{
    background-color: purple;
    color: white;
}
#prodetails .single-pro-details span{
    line-height: 25px;
    font-size: 14px;
}

/*Blog Page*/
.blog-header{
    background-image: url("images/shop/banner1.png");
    width:100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width:50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width:50%;
    margin-right: 40px;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    color: #000;
    position: relative;
}

#blog .blog-details a::after{
    content:"";
    width:50px;
    height:1px;
    background-color: #000;
    position: absolute;
    top:4px;
    bottom: -60px;
}
#blog .blog-details a:hover{
    color: purple;
    transition: 0.3s;
}
#blog .blog-details a:hover::after{
    color: purple;
}
.para{
    color: #747171;
    font-weight: 300;
}
#blog .blog-box h1{
    position: absolute;
    top:-40px;
    left:0;
    font-size:55px;
    font-weight: 700;
    color: #cfd6d6;
    z-index:-9;
}
.an{
    font-weight: bold;
    color: #000;
}

/* about */

.about-header{
    background-image: url("images/about/banner.png");
    width:100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
.know{
    color: #fff;
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head div{
    padding-left: 40px;
}
.image{
    width:50%;
    height: auto;
    border-radius: 40px;
}
.dum{
    color: #3f4949;
    font-weight: 200;
}
.link{
    color: purple;
}
#about-app h1{
    text-align: center;
}
/* contact page */
#contact-details{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width:40%
}
#contact-details .details span,
#form-details form span{
    font-size: 12px;
    font-weight: bold;
}
#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-details form{
    width:65%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.head{
    font-weight: 400;
    font-size: 35px;
}
#form-details form input,
#form-details form textarea{
    width:100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details form  button{
    background-color: purple;
    color: #fff;
}

/*cart page */
#cart{
    overflow-x: auto;
}
#cart table{
    width:100%;
    border-collapse: collapse;
    table-layout:fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid white;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 13px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width:50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon  button,
#subtotal button{
    background-color: purple;
    color: #fff;
    padding: 12px 20px;
}
#subtotal{
    width:50%;
    margin-bottom: 30px;
    border: 1px solid#e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width:50%;
    border:1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
@media(max-width:280px){
    .section-p1{
        padding: 60px 100px;
    }
    .logo {
        height: 80px;
        width: 80px;
    }
    #sm-banner h4 {
        font-size: 13px;
    }
    #sm-banner h2 {
        color: #471c1c;
        font-size: 20px;
        font-weight: 600;
    }
    #news .form {
        width: 100%;
    }

}
@media(max-width:769px){
    .section-p1{
        padding: 40px 80px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height:100vh;
        width: 300px;
        background-color: #e0ddc4fe;
        box-shadow: 0 40px 60px #000;
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    .mob-v{
        color: #756d6d;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: none;
    }
    #mobile i{
        color: #000;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #000;
        font-size: 24px;
        display: flex;
    }#lg-bag{
        display: none;
    }
    #home{
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box {
        width:155px;
        margin: 15px;
    }
    #product .pro-cont {
        display: flex;
        justify-content: space-between;
        
    }
    #product .pro {
        margin: 15px; 
        width:155px;   
    }
    #banner{
        height:26vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner3 {
        padding:0px 40px;
    }
    #banner3 .banner-box {
        width:28%;
    }
    #news .form {
        display: flex;
        width: 85%;
    }
    
}
@media(max-width:477px){
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    } 
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #home{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box {
        width:155px;
        margin:  15px ;
    }
    #product .pro{
        width:100%;
    }
    #banner{
        height:40vh;
    }
    #sm-bnner .banner-box{
        height:40vh; 

    }
    #banner3 {
        padding: 20px;
    }
    #banner3 .banner-box{
        width: 100%;
    }
    #news{
        padding: 40px 20px;
    }
    #news .form {
        width: 100%;
    }
    /*single Product */
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-img{
        width: 100%;
        margin-right: 50px;
    }
    #prodetails .single-pro-details{
        width: 100%;
        padding-top: 30px ;
    }
    /*blog page*/
    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog {
        padding: 100px 20px 0 20px;
    }
    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details {
        width: 100%;
        margin-right: 40px;
    }
    .ipad-v{
        color: #fff;
    }
    /*about page*/
    #about-head{
        flex-direction: column;
    }
    .image{
        width:100%;
        margin-bottom: 20px;
        border-radius: 40px;
    }
    #about-head div{
        padding-left: 0px;
    }
    /*contact page */
    #contact-details {
        flex-direction: column;
        
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map {
        width: 100%;
    }
    /*Cart Page */
    #cart-add {
        flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #subtotal {
        width: 100%;
        padding: 20px; 
    }
}
@media(max-width:820px){
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner3 {
        padding:0px 40px;
    }
    #banner3 .banner-box {
        width:28%;
    }
    #news .form {
        display: flex;
        width: 85%;
    }
    .ipad-v{
        color: #fff;
    }
    /*about page*/
    #about-head{
        flex-direction: column;
    }
    .image{
        width:100%;
        margin-bottom: 20px;
        border-radius: 40px;
    }
    #about-head div{
        padding-left: 0px;
    }
}
@media(max-width:912px){
    #sm-banner .banner-box {
        width: 100%;
    }
    #banner3 .banner-box {
        min-width: 100%;
    }
}

@media screen and (min-width: 1024px) and (min-height: 600px) {
    /* Your CSS styles for screens with a minimum width of 1024px and a minimum height of 600px go here */
    #sm-banner{
        display: flex;
        flex-direction: column;
    }
    
    #sm-banner .banner-box{
        
        width:100%;
        height:50vh;
        background-position: center;
        background-size: cover;
        padding: 30px;
        margin-bottom: 10px;
    }
  }
  
